.bg-img1 {
    background-color: #0000;
    background-size: cover;
    background-image: url(https://onedrive.live.com/embed?resid=86F525F999243EB9%217801&authkey=%21ALZveW04XVMbIZo&width=2777&height=1659);
}

.bg-img2 {
    background-color: #0000;
    background-size: cover;
    background-image: url();
}

.bg-img3 {
    background-color: #0000;
    background-size: cover;
    background-image: url();
}